<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/bc308bbd0b.js"
      crossorigin="anonymous"
    ></script>
    <title>Home</title>
  </head>
  <body>
    <div class="home">
      <div id="side-nav">
        <div id="side-nav-container" class="container">
          <div class="side-nav-top">
            <div id="hamburger">
              <div class="line" id="line1"></div>
              <div class="line" id="line2"></div>
              <div class="line" id="line2"></div>
            </div>
            <div id="contact"></div>
          </div>
          <div id="side-nav-bottom">
            <i class="fas fa-user" id="user"></i>
            <a href="/">Sign Out</a>
          </div>
        </div>
      </div>
      <main id="main">
        <div id="main-container" class="container">
          <div id="main-header">
            <h1>EChat<i class="far fa-comment"></i></h1>
            <div class="search">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <div id="main-body">
            <div id="main-contact-about"></div>
            <div id="messages"></div>
          </div>
          <div id="main-bottom"></div>
        </div>
      </main>
    </div>
  </body>
</html>
