<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://kit.fontawesome.com/bc308bbd0b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/chat.js" type="module" defer></script>
    <script src="/chatManager.js" defer></script>
    <script src="/clientHome.js" defer></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="home">
      <div id="side-nav" class="content">
        <div id="side-nav-container" class="container">
          <div class="side-nav-top">
            <div id="hamburger">
              <div class="line" id="line1"></div>
              <div class="line" id="line2"></div>
              <div class="line" id="line2"></div>
            </div>
            <div id="contact">
              <div class="contact-body">
                <p>EC</p>
              </div>
            </div>
          </div>
          <div id="side-nav-bottom">
            <div id="user-container">
              <i class="fas fa-user" id="user"></i>
            </div>
          </div>
        </div>
      </div>
      <main id="main" class="content">
        <div id="main-container" class="container">
          <div id="main-header">
            <h1>
              <span class="dark-accent">E</span>Chat<i
                class="far fa-comment"
              ></i>
            </h1>
            <div class="search">
              <i class="fas fa-search"></i>
            </div>
          </div>
          <div id="main-body">
            <div id="main-contact-about">
              <div id="main-contact-head">
                <h3 id="user">Eric Chen</h3>
                <div class="caret">
                  <i class="fas fa-chevron-up" id="user-bio-caret"></i>
                </div>
              </div>
              <div id="main-contact-description">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
            <div id="chats">
              <div id="chats-head">
                <h3>Chats</h3>
              </div>
              <div id="chats-body">
                <div class="chat">
                  <div class="chat-container">
                    <h3 class="user">Eric Chen</h3>
                    <p class="most-recent-message">I’’ll be there at 11pm</p>
                  </div>
                  <div class="caret">
                    <i class="fas fa-chevron-up chat-caret"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="main-bottom">
            <div id="home-user">
              <p>Signed in as echen</p>
            </div>
            <div id="add-new-chat" data-type="add-contact">
              <i class="fas fa-plus"></i>
            </div>
          </div>
        </div>
      </main>
    </div>

    <div id="contacts-tab">
      <div id="contacts-tab-container">
        <div id="contacts-head">
          <h2>Contacts</h2>
        </div>
        <div id="contacts-body">
          <ul id="contacts-list">
            <% contacts.forEach(contact => { %>
            <li data-id="<%= contact.id %>" class="contact">
              <%=contact.fullname%>
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <div id="add-chat">
      <div id="add-chat-container">
        <div id="add-chat-head">
          <div id="chat-type">
            <h2 id="type">New Conversation</h2>
            <div class="caret">
              <i class="fas fa-chevron-up" id="chat-caret"></i>
            </div>
          </div>
          <div class="cancel" id="cancel-btn">
            <i class="fas fa-times"></i>
          </div>
        </div>
        <div id="chat-body">
          <div id="input-fields">
            <label for="username">Username</label>
            <input type="text" id="username" />
          </div>
        </div>
      </div>
    </div>

    <div id="chat-room">
      <div id="chat-room-container">
        <div id="chat-room-head">
          <div id="back">
            <i class="fas fa-chevron-left"></i>
          </div>
          <div id="chat-header">
            <div id="chat-contact-icon">
              <p>EC</p>
            </div>
            <h2 id="chat-name">Eric Chen</h2>
          </div>
        </div>
        <div id="chat-room-body">
          <div id="chat-init">Start a conservation</div>
        </div>
        <div id="chat-room-send">
          <div id="send-box">
            <input type="text" id="message-content" placeholder="Aa" />
            <button id="send-btn">
              <i class="fas fa-arrow-right" id="send-arrow"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
