<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome</title>
  </head>
  <body>
    <div class="welcome">
      <div class="welcome-container">
        <div class="welcome-header">
          <h2>Welcome to EChat</h2>
          <p>Discover the exciting new way to communicate.</p>
        </div>
        <div class="welcome-body">
          <div class="action-btns">
            <a href="/signup">Sign up</a>
            <a href="/login">Login</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
