body {
  height: 100vh;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  background-color: var(--mediumblue);
}

.main .main-head {
  position: relative;
  padding: 4rem 2rem 2rem 2rem;
}

.main .main-head h2 {
  font-size: 42px;
  color: var(--white);
}

.main .main-head .main-head-design {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 2;
}

.main .form {
  position: relative;
}

.main .form .form-body {
  position: relative;
  margin-right: 2rem;
  background-color: var(--darkblue);
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: 0 10px 10px 0;
  z-index: 1;
}

.form .form-body .form-head h2 {
  font-size: 32px;
  font-weight: 450;
  color: var(--skyblue);
  margin-bottom: 20px;
}

#login-form .input-fields {
  padding: 5px 0;
  width: 100%;
}

.field {
  width: 100%;
  margin: 12px 0 33px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.field label {
  font-size: 18px;
  color: var(--white);
  font-weight: 300;
}

.form-body input {
  width: 100%;
  display: inline-block;
  color: var(--lightgray) !important;
  height: 45px;
  border: none;
  border-bottom: 3px solid var(--lightblue);
  font-size: 18px;
  background-color: transparent !important;
  outline: none;
  z-index: 1;
}

.form .redirect {
  position: absolute;
  bottom: 7rem;
  right: 0;
  color: var(--mediumgray);
  background-color: var(--lightblue);
  padding-top: 10rem;
  padding-bottom: 2rem;
  margin-left: 2rem;
  border-radius: 10px 0 0px 10px;
  line-height: 150%;
}

.redirect a {
  color: var(--skyblue);
  font-weight: 500;
}

.form .submit {
  margin-top: 150px;
}

.action-btn {
  background-color: var(--skyblue);
  border: none;
  outline: none;
  cursor: pointer;
}

.action-btn a {
  text-decoration: none;
  color: var(--white);
}
