:root {
  --black: #000;
  --white: #fff;
  --skyblue: #458cff;
  --darkblue: #1b262c;
  --light-darkblue: rgba(27, 38, 44, 0.75);
  --lightblue: #bbe1fa;
  --mediumblue: #a1c5dd;
  --mediumgray: #7d7b7b;
  --lightgray: #f1f1f1;
  --gray: #4e4e4e;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}

.content {
  padding: 1.75rem 0.5rem;
}

.caret {
  cursor: pointer;
  transition: transform 333ms ease-in-out;
}

.dark-accent {
  color: var(--darkblue);
}
